@model Personal.Models.UniversalModels.PlayerModel

<div class="player">
    <div class="player-display">
        <p class="player-text">@Model.Name</p>
        <p class="player-text">@Model.Balance</p>
    </div>
    <div class="player-cards">

    </div>
</div>