@Styles.Render("~/Content/waterstone-hero")

<div class="hero-bg">
    <div class="track">
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
        <div class="track-bar">

        </div>
    </div>
</div>

    
@Scripts.Render("~/bundles/waterstone-hero")