.hero-bg {
    background: #000000;
    height: 100%;
    margin: 0;
    perspective: 150px;
    perspective-origin: 50% 50%;
    position: absolute;
    max-width: 100%;
    width: 100%;
    -webkit-perspective: 100px;
    -webkit-perspective-origin: 50% 50%;
}

.track {
    background-color: rgba(15, 0, 0, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 99%;
    left: 25%;
    position: relative;
    top: 20%;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
    width: 50%;
    -webkit-transform: rotateX(45deg);
    -webkit-transform-style: preserve-3d;
}

.track-bar {
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    height: 5%;
    position: relative;
    width: 100%;
}

.btn-track {
    position: relative;
}

.btn-track .btn-move {

}

.btn-track .btn-hit {

}